<div class="background-image-signup w3-display-container text-white">
    <div class=' content-wrapper'>
        <div class="form-card w3-card w3-hover-shadow ">
            <div class="w3-center w3-text-white">
                <h1>Sign Up</h1>
                <%= flash[:error] %>
                <%= render 'form' %>            
            </div>
        </div>
    </div>
</div>

