
<div class='bg-img' >
    <div class="container" style="height: 39rem;">
        <div class="w3-center w3-text-white" style="width: 95%; margin: auto;">
            <h1 class='text-white'>Sign Up</h1>
            <%= flash[:errors] %>
            <%= render 'form' %>            
            </div>
        </div>
    </div>
</div>

