

<div class="w3-card-4 w3-center vertical-center" style="max-width: 500px; margin: auto; margin-top: 125px; background: white; padding: 10px;">
    <div class="w3-container w3-center">
        <h1>Sign Up</h1>
        <%= flash[:error] %>
        <%= render 'form' %>
       </div>
    </div>
</div>

