<!-- BACKGROUND PICTURE -->
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <div class="w3-animate-top">
    <h1 style="font-size: 90px">Street Builds</h1>   
      <%= link_to "Sign Up", signup_path, class: "w3-large w3-button w3-red w3-round-large w3-center" %>
      <%= link_to "Log In", login_path, class: "w3-large w3-button w3-red w3-round-large w3-right" %>
    </div>
  </div>
</div>