


<!-- BACKGROUND PICTURE -->
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <div class="w3-animate-top">
    <h1>Home Page</h1>
    
<%= link_to "Sign Up", signup_path %>
<%= link_to "Log In", login_path %>

    </div>
  </div>
</div>