

<!-- TITLE -->
<div class="w3-container">
    <div class="w3-section w3-bottombar w3-padding-16">
        <div class="w3-center w3-margin-top">
            <h1 class="w3-jumbo w3-margin-top"><%= board_title(@user)%></h1>
        </div>
    </div>
</div>



<!-- BOARDS -->
<div class="w3-row-padding">
  <% @user.boards.each do |c| %> <div class="w3-third w3-margin-bottom">
      <div class="w3-container">
    <h4 class="w3-center w3-xxxlarge " ><%= link_to "#{c.title}", board_path(c) %> </h4>
      </div>
    </div>
    <% end %>
</div>

