

<!-- FILTER AND SEARCH BAR -->
<div class="w3-container">
    <div class="w3-section w3-bottombar w3-padding-16">
        <div class="w3-center w3-margin-top">
            <h1 class="w3-jumbo w3-margin-top"><%= board_title(@user)%></h1>
        </div>
    </div>
</div>

<% @user.boards.each do |c| %>
    <h4><%= link_to "#{c.title}", board_path(c) %> </h4>
<% end %>

