
<h1><%= @board.title%> - <%= @board.user.username %> </h1>

<!-- CAR CARDS -->
<div class="w3-row-padding">
    <% @board.pins.each do |p| %>

    
    <div class="w3-third w3-container w3-margin-bottom">
     <%= image_tag p.car.images.first, style: "width: 100%" if p.car.images.attached? %>
      <div class="w3-container w3-white">
      </div>
    </div>
       
    <% end %>
</div>


<% if current_user == @board.user %>
    <%= link_to "Edit Board", edit_board_path(@board)%>
<% end %>




