
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* FONTS */
 @font-face {
   font-family: "Bilal";
   src: url('/assets/Bilal-d99MX.otf');
 }
 
 @font-face {
   font-family: 'snowboardingregular';
   src: url('/assets/snowboarding-webfont.woff2') format('woff2'),
   url('/assets/snowboarding-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
  }
  
  /* LINKS */
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
 
  a:hover {
    text-decoration: none;
  }
 
  a:active {
    text-decoration: none;
  }
  
  
  body,h1 {
    font-family: "Roboto", sans-serif
  }
  
  body, html {
    height: 100%
  }

.full-blue {
  background-color: dodgerblue;
  color: white;
  border: 2px solid dodgerblue;
  padding: 10px 70px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  /* float: right; */
}


.blue-outline {
  background-color: white;
  color: dodgerblue;
  border: 2px solid dodgerblue;
  padding: 10px 70px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  
}


.green-outline {
  background-color: white;
  color: green;
  border: 2px solid green;
  padding: 10px 70px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  
}

.red-outline {
  background-color: white;
  color: red;
  border: 2px solid red;
  padding: 10px 70px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  
}

.full-red {
  background-color: red;
  color: white;
  border: 2px solid red;
  padding: 10px 70px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  /* float: right; */
}



.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  align-items: center;
}




.background-image-signup {
  background-image: url('/assets/yellow-silvia.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}




.card {
  background: inherit;
}



input.search-query {
  border: none;
  border-bottom: 1px solid gray;
}

.img{
  width: 100%;
}

.field_with_errors{ 
  color: red }

.img-ctn {
  height: 23vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.idx-card-titles {
  font-size: 1.5vw;
}

@media screen and (max-width: 993px) {
  .idx-ctn {
    margin-bottom: 15px;
  } 
  .idx-card-titles {
    font-size: 5vw;
  }
}

.pin-btn {
  width: 100%;
}







