// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg-img2 {
    background: image-url('/assets/skyline-rear.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
}




.container {
    max-width: 600px;
    min-width: 280px;
    height: 25rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }

  

.form-card {
    margin:auto; 
    width: 500px;
    padding: 15px;
  }  

  .google-btn {
    position: relative;
  }
  
  .google-svg {
    position: absolute;
    top: 28%;
    left: 70%;
  }
  