// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bgimg {
    background-image: image-url('/assets/white-mr2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

  
.centered-div {
    width: 60%;
    margin: 10px;
    padding: 5px;
  }  
  
.logo {
    font-family: "Bilal";
    font-size: 150px;
    padding: 0px;
    margin: 0px;
}


.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.homepage-buttons {
  width: 60%
}

.signup-btn {
  float: right;
}



.footer {
  font-size: large;
}



@media screen and (max-width: 890px) {
  .logo {
    font-size: 120px
  }
  .homepage-buttons {
    width: 80%;
  }
}