// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bgimg {
    background-image: url('https://i.pinimg.com/originals/76/2e/68/762e68eca0c41974162487aeb05b113a.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }

  
.centered-div {
    width: 60%;
    margin: 10px;
    padding: 5px;
  }  
  
.logo {
    font-family: "Bilal";
    font-size: 125px;

    padding: 0px;
    margin: 0px;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .signup-btn {
      float: right;
  }
  


.footer {
    font-size: large;
  }
  
  